
/Project_Euler_Problem_01/bin
/Project_Euler_Problem_01/obj
/Primes/bin
/Primes/obj
/Matrices/bin
/Matrices/obj
/FizzBuzz/bin
/FizzBuzz/obj
/Project_Euler_Problem_01/obj
/Project_Euler_Problem_01/bin
/Project_Euler_Problem_02/bin
/Project_Euler_Problem_02/obj
/Project_Euler_Problem_03/bin
/Project_Euler_Problem_03/obj
/Project_Euler_Problem_04/bin
/Project_Euler_Problem_04/obj
/Project_Euler_Problem_05/bin
/Project_Euler_Problem_05/obj
/Project_Euler_Problem_06/bin
/Project_Euler_Problem_06/obj
/Project_Euler_Problem_07/bin
/Project_Euler_Problem_07/obj
/Project_Euler_Problem_08/bin
/Project_Euler_Problem_08/obj
/Project_Euler_Problem_09/bin
/Project_Euler_Problem_09/obj
/Project_Euler_Problem_10/bin
/Project_Euler_Problem_10/obj
/Project_Euler_Problem_11/bin
/Project_Euler_Problem_11/obj
/Project_Euler_Problem_12/bin
/Project_Euler_Problem_12/obj
/Project_Euler_Problem_13/bin
/Project_Euler_Problem_13/obj
/Project_Euler_Problem_16/bin
/Project_Euler_Problem_16/obj
/Project_Euler_Problem_17/bin
/Project_Euler_Problem_17/obj
/Project_Euler_Problem_18/bin
/Project_Euler_Problem_18/obj
/Project_Euler_Problem_19/bin
/Project_Euler_Problem_19/obj
/Project_Euler_Problem_20/bin
/Project_Euler_Problem_20/obj
/Project_Euler_Problem_21/bin
/Project_Euler_Problem_21/obj
/Project_Euler_Problem_22/bin
/Project_Euler_Problem_22/obj
/Project_Euler_Problem_25/bin
/Project_Euler_Problem_25/obj